# Welcome to pooch-repositories

[![License](https://img.shields.io/badge/License-BSD%202--Clause-orange.svg)](https://opensource.org/licenses/BSD-2-Clause)

This is a collection of data repository implementations for the [pooch-doi](https://github.com/ssciwr/pooch-doi) package.
If you use `pooch-doi` and you want to install all known data repository implementations, you can do so with:

```bash
python -m pip install pooch-repositories
```

Similarly, if your library application uses `pooch-doi`, you may decide to opt-in into including all implementations
by depending on this package.

## List of available data repository implementations

| Name | Homepage | Full Support | Allows Self Hosting | Issue Tracker |
| --- | --- | --- | --- | --- | --- |
{% for repo in repositories %}
| {{ repo.name or "n/a" }} | {% if repo.homepage %}[{{ repo.homepage }}]({{ repo.homepage }}){% else %}n/a{% endif %} | {{ "✅" if repo.full_support else "❌" }} | {{ "✅" if repo.allows_self_hosting else "❌" }} | {{ repo.issue_tracker or "n/a" }} |
{% endfor %}
